nav{ 
    background-color: darkblue; /*this is a example of comment*/
    padding: 10px;
    text-align: center;
}

nav a {
    color: white;
    padding: 1px;
    display:block;
}

h1 {
    color: darkblue;
}   

main {
    max-width: 840px;
    width: 600px;
    margin: 0 auto;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 1rem;
    background-color:#eee;
    color:#333;
    text-align: center;
}
main img{
    width:200px;     
    height:auto; 
    border: #333;
    padding:2px; 
    box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
}


p{
    padding: 0
}
aside {
    width: 20rem;
    margin: 0 auto;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 1rem;
    background-color:#eee;
    color:#333;
    text-align: center;
    
}

aside img {
        width: 200px;
        height: auto;
}

footer {
    margin-top: 1em;
    border-top: 1px solid black;
    text-align: center;
}