nav{ 
    background-color: darkblue; /*this is a example of comment*/
    padding: 10px;
    text-align: center;
}

h1 {
    color: darkblue;
}   

main {
    max-width: 840px;
    width: 600px;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 1rem;
    background-color:#eee;
    color:#333;
    text-align: center;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/0.2);
    padding: 1rem;
    background-color:#eee;
    color:#333;
    text-align: center;
    

}

aside img {
        width: 200px;
        height: auto;
    }

main img {
    width: 200px;
    height: auto;

    
}


footer {
    margin-top: 1em;
    border-top: 1px solid black;
    text-align: center;
}